
<h1> DRAGONBALL </h1>

<!-- hr SE UTILIZA PARA HACER UN SALTO DE LÍNEA -->
<hr>

<section class="row">

  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>

    <!--
      LE ASIGNAMOS A [value] LA signal name() PARA A CONTINUACIÓN
      CREAR UN EVENTO (change) QUE HACE QUE AL TERMINAR DE ESCRIBIR
      EN MI FORMULARIO SE ACTUALICE EL DATO name() Y ME LO SETEE EN
      LA PROPIEDAD txtName CREADA ABAJO
      Y TAMBIÉN CREAMOS UN EVENTO (input) PARA QUE CONFORME ESCRIBAMOS
      EN EL FORMULARIO, SE VAYAN GUARDANDO LOS DATOS DEL name()
    -->
    <input
    type="text"
    class="form-control"
    placeholder="Nombre"
    [value]="name()"
    (change)="name.set( txtName.value )"
    (input)="name.set(txtName.value)"
    #txtName
    >

    <input
    type="number"
    class="form-control mt-2"
    placeholder="Poder"
    [value]="power()"
    (change)="power.set(intPower.valueAsNumber || 0)"
    (input)="power.set(intPower.valueAsNumber || 0)"
    #intPower
    >

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <!-- AQUI APRENDEMOS A UTILIZAR EL @for PARA signal() -->
  <div class="col-12 col-sm-6">
    <h3>Listado:</h3>
    <ul>
    <!--
        CREAMOS LA VARIABLE character Y QUE RECORRA LOS characters[],
        LUEGO LOS CLASIFICA POR id, CREAMOS LA VARIABLE idx PARA QUE NOS COLOQUE EL ÍNDICE
        AL LADO DE CADA UNO DE LOS PERSONAJES, Y ABAJO EN EL span LE DECIMOS QUE ESE ÍNDICE
        COMIENCE POR EL NÚMERO 1, YA QUE NORMALMENTE EMPIEZA POR 0, DE AHÍ EL idx +1
      -->
      @for (character of characters(); track character.id; let idx = $index) {
        <!--SE PUEDE CREAR UN IF/ELSE EN UN HTML DE ESTA MANERA-->
        @if( character.power > 500 ) {

           <li>
          <span> {{ idx +1 }} - {{ character.name }} </span>
          <!--
              CREAMOS UNA CLASE "class.text.danger" POR SI EL PODER
              SUPERA LOS "9000" DE FUERZA, ME LO COLOREE DE ROJO,
              Y SI ES MENOR DE "9000" ME LO PINTE DE AZUL
           -->
          <strong
            [class.text-danger] = "character.power > 9000"
            [class.text-primary] = "character.power < 9000"
          >
            ({{ character.power }}) </strong>
        </li>

        }@else {
          <li><strong>Aqui no hay nadie con suficiente poder</strong></li>
        }
      }
    </ul>
  </div>


</section>
